{% extends "layout.html" %}
{% block sidebar %}{% endblock  %}
{% block menu-button %} {% endblock %}

{% block content %}

<div class="auth-container">
  <div class="container mt-1">
    <div class="row justify-content-center ">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg text-center bg-transparent border-dark rounded-1 ">
                <div class="card-body p-5">
                    
                    <i class="fas fa-check-circle fa-4x text-success mb-4"></i>
                    
                    <h3 class="card-title mb-3">Password Reset Done</h3>
                    
                    <p class="card-text text-body-secondary">
                        An email has been sent to you with instructions on how to reset your password.
                    </p>
                    <p class="card-text text-body-secondary">
                       Please check your inbox (and spam folder, just in case).
                    </p>
                    
                    <hr class="my-4">
                    
                    <a href="{% url 'login' %}" class="btn btn-primary px-4">
                        Back to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endblock %}